
<!DOCTYPE HTML>

<html>
	<head>
        <title>Quite Unusual Inc.</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		
		<!--favicon-->
		<link rel="icon" type="image/x-icon" href="/assets/css/images/favicon.jpg">

		<!--Style links and fonts-->
		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
    	<link rel="stylesheet" href="/assets/css/main.css">
	</head>

	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
					<div class="logoContainer">
						<h1><a href="/" id="logo">Quite Unusual Inc.</a></h1>
                    </div>
					<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="/">Home</a></li>
							<li class="current"><a href="/about">About Us</a></li>
							<li><a href="https://quite-unusual-merch.creator-spring.com" target="_blank">Merch Store</a></li>
							<li><a href="https://www.patreon.com/QuiteUnusualPod" target="_blank">Join the Coven</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</nav>

				</div>			


			
		
                
                <!-- Highlights -->
				<section class="wrapper style1 aboutHero">
					<h2>Who We Are</h2>
					
					<div class="container">
						<div class="row gtr-200">
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<img class="image bioImage" src="assets/css/images/nicole.jpg" alt="Nicole">
									<h3 class="bioH3">Nicole</h3>
									<p>A self-proclaimed horror connoisseur, 
										Nicole has always had a thing for the dark and macabre. 
										Much to her friends&#39; parents dismay, she was always the 
										one bringing a slasher movie to a sleepover that she stole 
										from her older brother&#39;s room. With a thirst for travel and
										a passion for ghost hunting, Nicole just wants to believe that 
										the truth is out there. When she is not trying to communicate 
										with the dead or practicing magic under the full moon, you can 
										find her hanging out with her pet snake Albus, her cat Clio and 
										her PomChi Abra. A typical Friday night includes a bottle of red 
										wine and the goriest horror movie she can find. </p>
								</div>
							</section>
							<section class="col-4 col-12-narrower">
								<div class="box highlight">
									<img class="image bioImage" src="assets/css/images/noelle.jpg" alt="Noelle">
									<h3 class="bioH3">No&#235;lle</h3>
									<p>Do you hear that off key singing in the distance? That&#39;s just Noelle 
										crawling out of conspiracy corner to sound the bonk o&#39;meter. A 
										self-contained cast of characters with the charisma of a cult 
										leader and diet of an Oompa Loompa, this perpetual resident of 
										haunted houses can frequently be found at 3am deep inside a Reddit 
										hole researching the unusual. Her obsession with historical horrors, 
										ufo sightings, and weird facts beyond human comprehension knows no bounds. 
										Much like her love for her children, a pony named Robin and two cats named 
										Killian and Jade; for whom she would murder an innocent without a second thought.</p>
								</div>
							</section>
				</section>

			
            <!--Contact Us-->
            <div class="container contact">
            <h2>Find Us At</h2>
		<ul class="icons">
			<li><a href="https://twitter.com/quiteunusualpod" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
			<li><a href="https://www.facebook.com/QuiteUnusualPod" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
			<li><a href="https://www.instagram.com/quiteunusualpod/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
			<li><a href="mailto:quiteunusualpod@gmail.com" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
		</ul>
                </ul>
            </div>
				
					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Quite Unsual Inc. All rights reserved</li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>