<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quite Unusual Inc.</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    	
        <!--Style links and fonts-->
		<link rel="stylesheet" href="assets/css/reset.css">
		<link rel="stylesheet" href="assets/css/normalize.css">
    	<link rel="stylesheet" href="assets/css/main.css">
    
    </head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
                    <div class="logoContainer">
						<h1><a href="/" id="logo">Quite Unusual Inc.</a></h1>
                    </div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li ><a href="/about">About Us</a></li>
								<li  class="current"><a href="/merch">Merch</a></li>
								<li><a href="https://www.patreon.com/QuiteUnusualPod" target="_blank">Join the Coven</a></li>
							</ul>
						</nav>
				</div>
                
                
                 
				<section class="wrapper style2 back">
                    <div class="container">
                        <ul> 
                            <li><a href="/merch">Back to Store</a></li>
                        </ul>
                    </div>
                </section>

                <section class="wrapper style2 checkoutItem">
                  
                    <ul>
                        <li>
                            <a href="item.html">
                                <img src="https://placekitten.com/200/200" alt="item picture"> 
                            </a>
                            <a href="item.html">
                                <h3>Description</h3>
                            </a>
                       
                            <section class="wrapper style2 quantityContainer">
                                <p>Quantity</p>
                                <p> - 1 + </p>
                            </section>  
                            <p>$xx.00</p>
                            <input type="submit" class="button alt" value="Remove" id="removeCart"/>
                        </li>
                    </ul>
                </section>
                
        
                
                <section class="wrapper style2 checkoutBot">
                    <input type="submit" class="button alt" value="Checkout"/>
                    <h3>Subtotal: $xx.00</h3>
                </section>

                <!-- Copyright -->
                <div class="copyright">
                    <ul class="menu">
                        <li>&copy; Quite Unsual Inc. All rights reserved</li>
                    </ul>
                </div>
    
        </div>
    
    <!-- Scripts -->
    <script src="behaviors/js/jquery.min.js"></script>
    <script src="behaviors/js/jquery.dropotron.min.js"></script>
    <script src="behaviors/js/browser.min.js"></script>
    <script src="behaviors/js/breakpoints.min.js"></script>
    <script src="behaviors/js/util.js"></script>
    <script src="behaviors/js/main.js"></script>
</body>
</html>