<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quite Unusual Inc.</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

		<!--Style links and fonts-->
		<link rel="stylesheet" href="/assets/css/reset.css">
		<link rel="stylesheet" href="/assets/css/normalize.css">
    	<link rel="stylesheet" href="/assets/css/main.css">
		
		<!--favicon-->
		<link rel="icon" type="image/x-icon" href="/assets/css/images/favicon.jpg">
		
		<!--Font Awesome-->
		<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
		
		<!--ReCaptcha-->
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>

    </head>



	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
                    <div class="logoContainer">
						<h1><a href="/" id="logo">Quite Unusual Inc.</a></h1>
                    </div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li ><a href="/about">About Us</a></li>
								<li><a href="https://quite-unusual-merch.creator-spring.com" target="_blank">Merch Store</a></li>
								<li><a href="https://www.patreon.com/QuiteUnusualPod" target="_blank">Join the Coven</a></li>
								<li class="current"><a href="/contact">Contact</a></li>
							</ul>
						</nav>

				</div>			
		
         
            <!--Story Submissions-->
            <div class="container submit">
                <section class="col-6 col-12-narrower">
			    	<h3>Got a story or topic submission? <br> Slippery slide into our DMs</h3>
			    	<form 
						action="/contact/verify" 
						method="POST" 
						name="contact-form"
						id="contact-form" 
						enctype="multipart/form-data">
			    		
						<div class="row gtr-50">
			    			<div class="col-6 col-12-mobilep">
			    				<input type="text" name="name" id="name" placeholder="Name" />
			    			</div>
			    			<div class="col-6 col-12-mobilep">
			    				<input type="email" name="email" id="email" placeholder="Email" />
			    			</div>
							<div class="col-6 col-12-mobilep">
			    				<input type="text" name="subject" id="subject" placeholder="Subject" />
			    			</div>
			    			<div class="col-12">
			    				<textarea name="message" id="message" placeholder="Message" rows="5"></textarea>
			    			</div>
			    			<div class="col-12">
			    				<h3 id="botGrab">Please verify your message with Recaptcha: No bots allowed!</h3>
                                <ul class="actions">
									<div class="g-recaptcha" data-sitekey= "<%= process.env.RECAPTCHA_SITE_KEY %>"></div>
			    					<li><input type="submit" id="feedback-button" class="button alt" value="Send Message" /></li>
			    				</ul>
			    			</div>
			    		</div>
			    	</form>
			    </section>
            </div>

           
            <section class="col-6 col-12-narrower">
                <h3><a href="https://www.speakpipe.com/quiteunusualpod" target="_blank" id="voiceMailLink"> Or send us a voicemail!</a></h3> 
            </section>

               <!--Contact Us-->
               <div class="container contact">
                <h2>Find Us At</h2>
                <ul class="icons">
                    <li><a href="https://twitter.com/quiteunusualpod" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.facebook.com/QuiteUnusualPod" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/quiteunusualpod/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                    <li><a href="mailto:quiteunusualpod@gmail.com" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                </div>
	
				
					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Quite Unsual Inc. All rights reserved</li>
							</ul>
						</div>

				</div>

		</div>

			<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>