<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quite Unusual Inc.</title>
    	<meta charset="utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    	
		<!--Style links and fonts-->
		<link rel="stylesheet" href="assets/css/reset.css">
		<link rel="stylesheet" href="assets/css/normalize.css">
    	<link rel="stylesheet" href="assets/css/main.css">

    </head>
	<body class="is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Logo -->
                    <div class="logoContainer">
						<h1><a href="/" id="logo">Quite Unusual Inc.</a></h1>
                    </div>
					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/about">About Us</a></li>
								<li class="current"><a href="/merch">Merch</a></li>
								<li><a href="https://www.patreon.com/QuiteUnusualPod" target="_blank">Join the Coven</a></li>
							</ul>
						</nav>

				</div>

				<section class="wrapper style2 shopNav">
				<div class="container">
					<ul>
						<a href=""><li>Shirts</li></a>
						<a href=""><li>Stickers</li></a>
						<a href=""><li>Mugs</li></a>
						<a href="/cart"><li>Cart</li></a>
					</ul>
				</div>
			</section>
			
			<div class="container merchItemContainer">
            	<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
					<div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>
				<section class="wrapper style2 merchItem">
            	    <div class="container">
						<a href="/item">
            	        <img class="image" src="https://placekitten.com/150/150">
            	        <h4>Item Name</h4>
						<h4>$xx.00</h4>
						</a>
            	    </div>
            	</section>

		</div>

			
		

			
            <!--Contact Us-->
            <div class="container contact">
            <h2>Contact Us</h2>
            <ul class="icons">
				<li><a href="https://twitter.com/quiteunusualpod" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
				<li><a href="https://www.facebook.com/QuiteUnusualPod" class="icon brands fa-facebook-f" target="_blank"><span class="label">Facebook</span></a></li>
				<li><a href="https://www.instagram.com/quiteunusualpod/" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
				<li><a href="mailto:quiteunusualpod@gmail.com" class="icon circle fa-envelope"><span class="label">Email</span></a></li>
			</ul>
            </ul>
            </div>
            
	
				
					<!-- Copyright -->
						<div class="copyright">
							<ul class="menu">
								<li>&copy; Quite Unsual Inc. All rights reserved</li>
							</ul>
						</div>

				</div>

		</div>

		<!-- Scripts -->
		<script src="/assets/js/jquery.min.js"></script>
		<script src="/assets/js/jquery.dropotron.min.js"></script>
		<script src="/assets/js/browser.min.js"></script>
		<script src="/assets/js/breakpoints.min.js"></script>
		<script src="/assets/js/util.js"></script>
		<script src="/assets/js/main.js"></script>

	</body>
</html>